@font-face {
  font-family: "iconfont-ex"; /* Project id 1352399 */
  src: url('iconfont.woff2?t=1628645914466') format('woff2'),
       url('iconfont.woff?t=1628645914466') format('woff'),
       url('iconfont.ttf?t=1628645914466') format('truetype');
}

.iconfont-ex {
  font-family: "iconfont-ex" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ex-union:before {
  content: "\e628";
}

.icon-ex-rocket:before {
  content: "\e668";
}

.icon-ex-title:before {
  content: "\e62b";
}

.icon-ex-jubao:before {
  content: "\e61d";
}

.icon-ex-dengji:before {
  content: "\e658";
}

.icon-ex-moon:before {
  content: "\e66a";
}

.icon-ex-sun:before {
  content: "\e6f6";
}

.icon-ex-qiandao4:before {
  content: "\eb3d";
}

.icon-ex-qiandao3:before {
  content: "\e61c";
}

.icon-ex-video:before {
  content: "\e64a";
}

.icon-ex-flower:before {
  content: "\e61b";
}

.icon-ex-rose:before {
  content: "\e61a";
}

.icon-ex-link-blank:before {
  content: "\e621";
}

.icon-ex-guanzhu2:before {
  content: "\e619";
}

.icon-ex-guanzhu1:before {
  content: "\e700";
}

.icon-ex-smile:before {
  content: "\e65f";
}

.icon-ex-guzhang:before {
  content: "\e615";
}

.icon-ex-qiandao2:before {
  content: "\e693";
}

.icon-ex-celebrate:before {
  content: "\e614";
}

.icon-ex-broadcast2:before {
  content: "\e673";
}

.icon-ex-ring:before {
  content: "\e62c";
}

.icon-ex-zuji:before {
  content: "\e620";
}

.icon-ex-crown:before {
  content: "\e64f";
}

.icon-ex-conference-paper:before {
  content: "\e6d2";
}

.icon-ex-book-chapter:before {
  content: "\e612";
}

.icon-ex-book:before {
  content: "\e613";
}

.icon-ex-alipay:before {
  content: "\e60e";
}

.icon-ex-haoshi:before {
  content: "\e610";
}

.icon-ex-weixin:before {
  content: "\e60c";
}

.icon-ex-link2:before {
  content: "\e64d";
}

.icon-ex-link1:before {
  content: "\ed0c";
}

.icon-ex-file-ext-ps:before {
  content: "\e624";
}

.icon-ex-file-ext-txt:before {
  content: "\e611";
}

.icon-ex-file-ext-pdf:before {
  content: "\e6aa";
}

.icon-ex-file-ext-xls:before {
  content: "\e60d";
}

.icon-ex-file-ext-doc:before {
  content: "\e607";
}

.icon-ex-file-ext-ppt:before {
  content: "\e618";
}

.icon-ex-eye2:before {
  content: "\e667";
}

.icon-ex-ai2:before {
  content: "\e664";
}

.icon-ex-ai-eye:before {
  content: "\e711";
}

.icon-ex-ai1:before {
  content: "\e60a";
}

.icon-ex-weigui:before {
  content: "\e631";
}

.icon-ex-scan:before {
  content: "\e608";
}

.icon-ex-user-block:before {
  content: "\e637";
}

.icon-ex-serach1:before {
  content: "\e854";
}

.icon-ex-stick2:before {
  content: "\e617";
}

.icon-ex-stick:before {
  content: "\e68b";
}

.icon-ex-gov-comment:before {
  content: "\e687";
}

.icon-ex-forbidden:before {
  content: "\e644";
}

.icon-ex-download:before {
  content: "\e9b7";
}

.icon-ex-qiandao:before {
  content: "\e60f";
}

.icon-ex-broadcast:before {
  content: "\e622";
}

.icon-ex-robot:before {
  content: "\e60b";
}

.icon-ex-yandex:before {
  content: "\e7e5";
}

.icon-ex-bing:before {
  content: "\e69a";
}

.icon-ex-google:before {
  content: "\f1bf";
}

.icon-ex-baidu:before {
  content: "\eeab";
}

.icon-ex-qiuzhu:before {
  content: "\e646";
}

.icon-ex-menu:before {
  content: "\e6d4";
}

.icon-ex-journal3:before {
  content: "\e603";
}

.icon-ex-journal2:before {
  content: "\e6e3";
}

.icon-ex-journal1:before {
  content: "\e654";
}

.icon-ex-lock:before {
  content: "\e616";
}

.icon-ex-paper:before {
  content: "\e8ce";
}

.icon-ex-write-comment:before {
  content: "\e61f";
}

.icon-ex-vip:before {
  content: "\e63e";
}

.icon-ex-comment:before {
  content: "\e738";
}

.icon-ex-copy:before {
  content: "\e836";
}

.icon-ex-eye:before {
  content: "\e752";
}

.icon-ex-jifen:before {
  content: "\e64c";
}

.icon-ex-xiaolian2:before {
  content: "\e606";
}

.icon-ex-xiaolian1:before {
  content: "\e609";
}

.icon-ex-google-scholar:before {
  content: "\e735";
}

.icon-ex-huzhuhangwei:before {
  content: "\e6d7";
}

.icon-ex-crow-key:before {
  content: "\e604";
}

.icon-ex-crow:before {
  content: "\e605";
}

.icon-ex-CgPS_2:before {
  content: "\e602";
}

.icon-ex-yibohui:before {
  content: "\e6c2";
}

.icon-ex-yiwanjie:before {
  content: "\e638";
}

.icon-ex-wuya1:before {
  content: "\e677";
}

.icon-ex-wuya:before {
  content: "\e601";
}

.icon-ex-yicaina:before {
  content: "\e715";
}

.icon-ex-wenjian:before {
  content: "\e665";
}

.icon-ex-wenjiandakai:before {
  content: "\e7ab";
}

.icon-ex-wenjian1:before {
  content: "\e600";
}

